USE [master]
GO
/****** Object:  Database [Brod]    Script Date: 27.7.2026. 13:04:51 ******/
CREATE DATABASE [Brod]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Brod', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Brod.mdf' , SIZE = 380928KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Brod_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Brod_log.ldf' , SIZE = 102144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Brod].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Brod]
GO
/****** Object:  Table [dbo].[_banka_klub_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_banka_klub_orig](
	[KLUB] [nvarchar](1) NULL,
	[DATUM] [nvarchar](8) NULL,
	[STAVKA] [nvarchar](10) NULL,
	[KONTO] [nvarchar](8) NULL,
	[OPIS] [nvarchar](15) NULL,
	[PRIMITAK] [float] NULL,
	[IZDATAK] [float] NULL,
	[NAPOMENA] [nvarchar](30) NULL,
	[BROJ] [nvarchar](6) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_BANKA14_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_BANKA14_orig](
	[DATUM] [nvarchar](8) NULL,
	[STAVKA] [nvarchar](10) NULL,
	[KONTO] [nvarchar](8) NULL,
	[OPIS] [nvarchar](25) NULL,
	[PRIMITAK] [float] NULL,
	[IZDATAK] [float] NULL,
	[NAPOMENA] [nvarchar](30) NULL,
	[BROJ] [nvarchar](6) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_cijene_klub_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_cijene_klub_orig](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](25) NULL,
	[GRUPA] [nvarchar](2) NULL,
	[IZNOS] [float] NULL,
	[KLUB] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_Cijene00_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Cijene00_orig](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](40) NULL,
	[GRUPA] [nvarchar](2) NULL,
	[PO_KATEG] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_Cijene01_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Cijene01_orig](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](40) NULL,
	[DUZINA] [nvarchar](2) NULL,
	[KATEGORIJA] [nvarchar](1) NULL,
	[VRSTA] [nvarchar](12) NULL,
	[IZNOS] [float] NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_clan_klub_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_clan_klub_orig](
	[KLUB] [nvarchar](1) NULL,
	[PREZIME] [nvarchar](15) NULL,
	[IME] [nvarchar](15) NULL,
	[ADRESA] [nvarchar](30) NULL,
	[TELEFON] [nvarchar](15) NULL,
	[RO] [nvarchar](15) NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[TEL_RO] [nvarchar](10) NULL,
	[POSAO] [nvarchar](15) NULL,
	[NAPOMENA] [nvarchar](30) NULL,
	[PLAC_DO] [nvarchar](8) NULL,
	[STATUS] [nvarchar](1) NULL,
	[VRSTA_C] [nvarchar](1) NULL,
	[MOBITEL] [nvarchar](10) NULL,
	[MJROD] [nvarchar](15) NULL,
	[IMEOCA] [nvarchar](15) NULL,
	[JMBG] [nvarchar](13) NULL,
	[KLUB2] [nvarchar](3) NULL,
	[OIB] [nvarchar](11) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_CLAN03_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_CLAN03_orig](
	[VRSTA_C] [nvarchar](1) NULL,
	[PREZIME] [nvarchar](15) NULL,
	[IME] [nvarchar](15) NULL,
	[ADRESA] [nvarchar](30) NULL,
	[TELEFON] [nvarchar](15) NULL,
	[RO] [nvarchar](15) NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[UGOVOR] [nvarchar](10) NULL,
	[VEZ_TIP] [nvarchar](1) NULL,
	[GAT] [nvarchar](2) NULL,
	[VEZ_BROJ] [nvarchar](4) NULL,
	[BROD_BR] [nvarchar](11) NULL,
	[DUZINA_BR] [float] NULL,
	[SIRINA_BR] [float] NULL,
	[MATERIJAL] [nvarchar](10) NULL,
	[TIP_BROD] [nvarchar](10) NULL,
	[CLAN] [nvarchar](1) NULL,
	[TEL_RO] [nvarchar](10) NULL,
	[POSAO] [nvarchar](15) NULL,
	[NAPOMENA] [nvarchar](80) NULL,
	[DRZAVA] [nvarchar](3) NULL,
	[PLAC_DO] [nvarchar](8) NULL,
	[KLUB] [nvarchar](1) NULL,
	[JMBG] [nvarchar](13) NULL,
	[KOPNO] [nvarchar](1) NULL,
	[VEZ_2] [nvarchar](4) NULL,
	[GAT_2] [nvarchar](2) NULL,
	[TRAKTOR] [nvarchar](10) NULL,
	[SAONICE] [nvarchar](10) NULL,
	[STRUJA] [nvarchar](10) NULL,
	[VODA] [nvarchar](10) NULL,
	[DUG] [float] NULL,
	[MOBITEL] [nvarchar](10) NULL,
	[TELEFON2] [nvarchar](10) NULL,
	[BAJBOT] [nvarchar](10) NULL,
	[SPOL] [nvarchar](1) NULL,
	[GODINA] [nvarchar](4) NULL,
	[BONIFIKAC] [float] NULL,
	[OD_KADA] [smallint] NULL,
	[KOPNOPIS] [nvarchar](10) NULL,
	[RAMPA] [nvarchar](10) NULL,
	[IME_BR] [nvarchar](15) NULL,
	[OPISVEZA] [nvarchar](10) NULL,
	[OIB] [nvarchar](11) NULL,
	[ANEKS] [nvarchar](8) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_ClanMemo_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_ClanMemo_orig](
	[MAT_BROJ] [nvarchar](5) NULL,
	[MEMO] [nvarchar](254) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_Config_fakt_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Config_fakt_orig](
	[FONT] [nvarchar](20) NULL,
	[ZAGL1] [nvarchar](30) NULL,
	[ZAGL2] [nvarchar](30) NULL,
	[ZAGL3] [nvarchar](70) NULL,
	[ZAGL4] [nvarchar](70) NULL,
	[ZAGL5] [nvarchar](70) NULL,
	[NAPOMENA1] [nvarchar](110) NULL,
	[SLIKA] [nvarchar](100) NULL,
	[NAPOMENA2] [nvarchar](160) NULL,
	[VERZIJA] [nvarchar](1) NULL,
	[ZAKLJUC] [bit] NOT NULL,
	[DATZAKLJ] [nvarchar](8) NULL,
	[OPERATER] [nvarchar](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_Config_klub_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Config_klub_orig](
	[FONT] [nvarchar](20) NULL,
	[ZAGL1] [nvarchar](40) NULL,
	[ZAGL2] [nvarchar](40) NULL,
	[ZAGL3] [nvarchar](40) NULL,
	[ZAGL4] [nvarchar](40) NULL,
	[ZAGL5] [nvarchar](40) NULL,
	[ZAGL6] [nvarchar](40) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_Config_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Config_orig](
	[FONT] [nvarchar](20) NULL,
	[PODACI1] [nvarchar](70) NULL,
	[PODACI2] [nvarchar](70) NULL,
	[PODACI3] [nvarchar](70) NULL,
	[MENI1] [nvarchar](10) NULL,
	[MENI2] [nvarchar](10) NULL,
	[MENI3] [nvarchar](10) NULL,
	[MENI4] [nvarchar](10) NULL,
	[MENI5] [nvarchar](10) NULL,
	[MENI6] [nvarchar](10) NULL,
	[MENI7] [nvarchar](10) NULL,
	[ZAGL1] [nvarchar](30) NULL,
	[ZAGL2] [nvarchar](30) NULL,
	[ZAGL3] [nvarchar](30) NULL,
	[SLIKA] [nvarchar](100) NULL,
	[VERZIJA] [nvarchar](1) NULL,
	[PDV] [smallint] NULL,
	[DUGUPL] [nvarchar](1) NULL,
	[OBAV1] [nvarchar](80) NULL,
	[OBAV2] [nvarchar](80) NULL,
	[OBAV3] [nvarchar](80) NULL,
	[OBAV4] [nvarchar](80) NULL,
	[OBAV5] [nvarchar](80) NULL,
	[OBAV6] [nvarchar](80) NULL,
	[OBAV7] [nvarchar](80) NULL,
	[OBAV8] [nvarchar](80) NULL,
	[OBAV9] [nvarchar](80) NULL,
	[OBAV10] [nvarchar](80) NULL,
	[OBAV11] [nvarchar](80) NULL,
	[OBAV12] [nvarchar](80) NULL,
	[OBAV13] [nvarchar](80) NULL,
	[OBAV14] [nvarchar](80) NULL,
	[OBAV15] [nvarchar](80) NULL,
	[DESKTOP] [nvarchar](80) NULL,
	[IZLAZNICE] [bit] NOT NULL,
	[ZAKLJUC] [bit] NOT NULL,
	[DATZAKLJ] [nvarchar](8) NULL,
	[SIRINA] [smallint] NULL,
	[OPERATER] [nvarchar](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_Config_rampa_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Config_rampa_orig](
	[FONT] [nvarchar](20) NULL,
	[PODACI1] [nvarchar](30) NULL,
	[PODACI2] [nvarchar](30) NULL,
	[PODACI3] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_donos_klub_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_donos_klub_orig](
	[KLUB] [nvarchar](1) NULL,
	[DATUM] [nvarchar](8) NULL,
	[DONOS] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_DONOS13_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_DONOS13_orig](
	[DATUM] [nvarchar](8) NULL,
	[DONOS] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_DRZAVA07_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_DRZAVA07_orig](
	[DRZAVA] [nvarchar](3) NULL,
	[OPIS] [nvarchar](25) NULL,
	[VALUTA] [nvarchar](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_DUG11_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_DUG11_orig](
	[PLAC_DO] [nvarchar](8) NULL,
	[DANA] [float] NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[PREZIME] [nvarchar](15) NULL,
	[IME] [nvarchar](15) NULL,
	[IZNOS] [float] NULL,
	[VEZ_TIP] [nvarchar](1) NULL,
	[DUZINA_BR] [float] NULL,
	[MOBITEL] [nvarchar](10) NULL,
	[TELEFON2] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_FaDaPre_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_FaDaPre_orig](
	[REDBR] [nvarchar](5) NULL,
	[BRRAC] [nvarchar](12) NULL,
	[DATUM] [nvarchar](8) NULL,
	[SIFDOB] [nvarchar](5) NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[SVOTABP] [float] NULL,
	[SVOTASP] [float] NULL,
	[PRETPOR] [float] NULL,
	[PORODB] [float] NULL,
	[PORNODB] [float] NULL,
	[NAPOMENA] [nvarchar](20) NULL,
	[PLACENO] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_FaiAna05_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_FaiAna05_orig](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](25) NULL,
	[KOLICINA] [smallint] NULL,
	[IZNOS] [float] NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL,
	[NAPOMENA] [nvarchar](20) NULL,
	[TOTAL] [float] NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[DATUM] [nvarchar](8) NULL,
	[PLACENO] [nvarchar](1) NULL,
	[BRRAC] [nvarchar](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_FaiAnaPP_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_FaiAnaPP_orig](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](25) NULL,
	[KOLICINA] [smallint] NULL,
	[IZNOS] [float] NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL,
	[NAPOMENA] [nvarchar](20) NULL,
	[TOTAL] [float] NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[DATUM] [nvarchar](8) NULL,
	[PLACENO] [nvarchar](1) NULL,
	[BRRAC] [nvarchar](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_FaiAnaVP_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_FaiAnaVP_orig](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](25) NULL,
	[KOLICINA] [smallint] NULL,
	[IZNOS] [float] NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL,
	[NAPOMENA] [nvarchar](20) NULL,
	[TOTAL] [float] NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[DATUM] [nvarchar](8) NULL,
	[PLACENO] [nvarchar](1) NULL,
	[BRRAC] [nvarchar](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_FaiPri06_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_FaiPri06_orig](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](25) NULL,
	[KOLICINA] [smallint] NULL,
	[IZNOS] [float] NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL,
	[NAPOMENA] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_FaiSin04_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_FaiSin04_orig](
	[BRRAC] [nvarchar](7) NULL,
	[DATUM] [nvarchar](8) NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[UKUPNO] [float] NULL,
	[PLACENO] [nvarchar](1) NULL,
	[GOTOVINA] [nvarchar](1) NULL,
	[POREZ] [float] NULL,
	[NAZIV] [nvarchar](40) NULL,
	[MBR] [nvarchar](5) NULL,
	[IZNOSPLA] [float] NULL,
	[DATISPO] [nvarchar](8) NULL,
	[DATDOSP] [nvarchar](8) NULL,
	[OPERATER] [nvarchar](2) NULL,
	[VRIJEME] [nvarchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_FaiSinPP_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_FaiSinPP_orig](
	[BRRAC] [nvarchar](7) NULL,
	[DATUM] [nvarchar](8) NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[UKUPNO] [float] NULL,
	[PLACENO] [nvarchar](1) NULL,
	[GOTOVINA] [nvarchar](1) NULL,
	[POREZ] [float] NULL,
	[NAZIV] [nvarchar](40) NULL,
	[MBR] [nvarchar](5) NULL,
	[IZNOSPLA] [float] NULL,
	[VRIJEME] [nvarchar](5) NULL,
	[OPERATER] [nvarchar](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_FaiSinVP_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_FaiSinVP_orig](
	[BRRAC] [nvarchar](7) NULL,
	[DATUM] [nvarchar](8) NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[UKUPNO] [float] NULL,
	[PLACENO] [nvarchar](1) NULL,
	[GOTOVINA] [nvarchar](1) NULL,
	[POREZ] [float] NULL,
	[NAZIV] [nvarchar](40) NULL,
	[MBR] [nvarchar](5) NULL,
	[IZNOSPLA] [float] NULL,
	[VRIJEME] [nvarchar](5) NULL,
	[OPERATER] [nvarchar](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_FaPrAna5_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_FaPrAna5_orig](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](25) NULL,
	[KOLICINA] [smallint] NULL,
	[IZNOS] [float] NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL,
	[NAPOMENA] [nvarchar](20) NULL,
	[TOTAL] [float] NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[DATUM] [nvarchar](8) NULL,
	[PLACENO] [nvarchar](1) NULL,
	[BRRAC] [nvarchar](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_FaPrSin4_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_FaPrSin4_orig](
	[BRRAC] [nvarchar](7) NULL,
	[DATUM] [nvarchar](8) NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[UKUPNO] [float] NULL,
	[PLACENO] [nvarchar](1) NULL,
	[GOTOVINA] [nvarchar](1) NULL,
	[POREZ] [float] NULL,
	[NAZIV] [nvarchar](40) NULL,
	[MBR] [nvarchar](5) NULL,
	[IZNOSPLA] [float] NULL,
	[VRIJEME] [nvarchar](5) NULL,
	[OPERATER] [nvarchar](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_FaUlazni_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_FaUlazni_orig](
	[REDBR] [nvarchar](5) NULL,
	[BRRAC] [nvarchar](12) NULL,
	[DATUM] [nvarchar](8) NULL,
	[SIFDOB] [nvarchar](5) NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[SVOTABP] [float] NULL,
	[SVOTASP] [float] NULL,
	[PRETPOR] [float] NULL,
	[PORODB] [float] NULL,
	[PORNODB] [float] NULL,
	[NAPOMENA] [nvarchar](20) NULL,
	[PLACENO] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_FaVlPot_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_FaVlPot_orig](
	[REDBR] [nvarchar](5) NULL,
	[BRRAC] [nvarchar](12) NULL,
	[DATUM] [nvarchar](8) NULL,
	[SIFDOB] [nvarchar](5) NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[SVOTABP] [float] NULL,
	[SVOTASP] [float] NULL,
	[PRETPOR] [float] NULL,
	[PORODB] [float] NULL,
	[PORNODB] [float] NULL,
	[NAPOMENA] [nvarchar](20) NULL,
	[PLACENO] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_Grupe17_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Grupe17_orig](
	[GRUPA] [nvarchar](2) NULL,
	[OPIS] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_Invent_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Invent_orig](
	[MAT_BROJ] [nvarchar](7) NULL,
	[sumA] [float] NULL,
	[sumb] [float] NULL,
	[ime] [nvarchar](15) NULL,
	[prezime] [nvarchar](15) NULL,
	[adresa] [nvarchar](30) NULL,
	[vrsta_c] [nvarchar](1) NULL,
	[godina] [nvarchar](4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_izlaznice_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_izlaznice_orig](
	[DATUMIZL] [nvarchar](8) NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[NAPOMENA] [nvarchar](40) NULL,
	[OTVORENA] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_KAMATE10_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_KAMATE10_orig](
	[GLAVNICA] [float] NULL,
	[DANA] [float] NULL,
	[STOPA] [float] NULL,
	[KAMATA] [float] NULL,
	[TOTAL] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_kartice_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_kartice_orig](
	[BRKART] [nvarchar](3) NULL,
	[DATUM] [nvarchar](8) NULL,
	[JMBG] [nvarchar](13) NULL,
	[PREZIME] [nvarchar](15) NULL,
	[IME] [nvarchar](15) NULL,
	[DATUZETA] [nvarchar](8) NULL,
	[DATVRAC] [nvarchar](8) NULL,
	[TRAJEDO] [nvarchar](8) NULL,
	[VRIJEMETR] [nvarchar](10) NULL,
	[CIJENA] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_Karton04_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Karton04_orig](
	[GODINA] [nvarchar](4) NULL,
	[IZNOS1] [float] NULL,
	[DATUM1] [nvarchar](8) NULL,
	[IZNOS2] [float] NULL,
	[DATUM2] [nvarchar](8) NULL,
	[IZNOS3] [float] NULL,
	[DATUM3] [nvarchar](8) NULL,
	[IZNOS4] [float] NULL,
	[DATUM4] [nvarchar](8) NULL,
	[CLAN_IZ] [float] NULL,
	[CLAN_DAT] [nvarchar](8) NULL,
	[SATI_IZ] [float] NULL,
	[SATI_BR] [smallint] NULL,
	[SATI_DAT] [nvarchar](8) NULL,
	[NAPOMENA] [nvarchar](15) NULL,
	[MAT_BROJ] [nvarchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_Komitent_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Komitent_orig](
	[SIFRA] [nvarchar](5) NULL,
	[NAZIV] [nvarchar](30) NULL,
	[MATBROJ] [nvarchar](13) NULL,
	[NAPOMENA] [nvarchar](20) NULL,
	[ADRESA] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_KONTO15_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_KONTO15_orig](
	[KONTO] [nvarchar](8) NULL,
	[OPIS] [nvarchar](25) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_KOPNO12_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_KOPNO12_orig](
	[POZICIJA] [nvarchar](10) NULL,
	[ZAUZETO] [nvarchar](1) NULL,
	[DUZINA] [float] NULL,
	[NAPOMENA] [nvarchar](20) NULL,
	[DATUM] [nvarchar](8) NULL,
	[NALOG] [nvarchar](7) NULL,
	[NAPOMENA2] [nvarchar](20) NULL,
	[MAT_BROJ] [nvarchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_KOPNOANA_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_KOPNOANA_orig](
	[POZICIJA] [nvarchar](10) NULL,
	[BROD_BR] [nvarchar](7) NULL,
	[DATUM_OD] [nvarchar](8) NULL,
	[DATUM_DO] [nvarchar](8) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_NALOGA09_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_NALOGA09_orig](
	[BROJ] [nvarchar](7) NULL,
	[DATUM] [nvarchar](8) NULL,
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](25) NULL,
	[KOLICINA] [smallint] NULL,
	[NAPOMENA] [nvarchar](20) NULL,
	[CIJENA] [float] NULL,
	[TOTAL] [float] NULL,
	[IZNOS] [float] NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_Nalogs08_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Nalogs08_orig](
	[BROJ] [nvarchar](7) NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[DATUM] [nvarchar](8) NULL,
	[ZATVOREN] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_obavijes_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_obavijes_orig](
	[VRSTA_C] [nvarchar](1) NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[SIFRA_C] [nvarchar](4) NULL,
	[OBRPER] [nvarchar](2) NULL,
	[GODINA] [nvarchar](4) NULL,
	[DATUMUN] [nvarchar](8) NULL,
	[IZNOS_DU] [float] NULL,
	[IZNOS_PL] [float] NULL,
	[AUTOM] [nvarchar](1) NULL,
	[GODINE] [nvarchar](4) NULL,
	[PDV] [nvarchar](1) NULL,
	[UPLATA] [nvarchar](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_OBRPER_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_OBRPER_orig](
	[OBRPER] [nvarchar](2) NULL,
	[GODINA] [nvarchar](4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_Osnovni_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Osnovni_orig](
	[SIFRA] [nvarchar](4) NULL,
	[POPUST] [float] NULL,
	[POREZ] [float] NULL,
	[PERIOD] [smallint] NULL,
	[GODINA] [nvarchar](4) NULL,
	[DOSPIJECE] [smallint] NULL,
	[OPERATER] [nvarchar](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_osobe_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_osobe_orig](
	[PREZIME] [nvarchar](15) NULL,
	[IME] [nvarchar](15) NULL,
	[ADRESA] [nvarchar](30) NULL,
	[JMBG] [nvarchar](13) NULL,
	[TELEFON] [nvarchar](15) NULL,
	[MOBITEL] [nvarchar](15) NULL,
	[REGAUTO] [nvarchar](10) NULL,
	[OPAUTO] [nvarchar](25) NULL,
	[BRKART] [nvarchar](3) NULL,
	[DATDO] [nvarchar](8) NULL,
	[DATOD] [nvarchar](8) NULL,
	[TIP] [nvarchar](1) NULL,
	[NAPOMENA] [nvarchar](50) NULL,
	[REGAUTO2] [nvarchar](10) NULL,
	[OPAUTO2] [nvarchar](25) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_POPUST02_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_POPUST02_orig](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](40) NULL,
	[VRSTA] [nvarchar](12) NULL,
	[DATUM_OD] [nvarchar](8) NULL,
	[DATUM_DO] [nvarchar](8) NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL,
	[NAPOMENA] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_PRBANKA_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_PRBANKA_orig](
	[DATUM] [nvarchar](8) NULL,
	[KONTO] [nvarchar](8) NULL,
	[OPIS] [nvarchar](25) NULL,
	[PRIMITAK] [float] NULL,
	[NAPOMENA] [nvarchar](30) NULL,
	[OZNAKA] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_PRKONT16_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_PRKONT16_orig](
	[KONTO] [nvarchar](8) NULL,
	[PRIMITAK] [float] NULL,
	[IZDATAK] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_promet_klub_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_promet_klub_orig](
	[KLUB] [nvarchar](1) NULL,
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](25) NULL,
	[DATUM] [nvarchar](8) NULL,
	[KOLICINA] [smallint] NULL,
	[IZNOS] [float] NULL,
	[UPLATA] [nvarchar](7) NULL,
	[NAPOMENA] [nvarchar](20) NULL,
	[MAT_BROJ] [nvarchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_PROMET05_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_PROMET05_orig](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](25) NULL,
	[KOLICINA] [smallint] NULL,
	[IZNOS] [float] NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL,
	[NAPOMENA] [nvarchar](20) NULL,
	[TOTAL] [float] NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[DATUM] [nvarchar](8) NULL,
	[PLACENO] [nvarchar](1) NULL,
	[UPLATA] [nvarchar](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_PRPROM06_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_PRPROM06_orig](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](25) NULL,
	[KOLICINA] [smallint] NULL,
	[IZNOS] [float] NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL,
	[NAPOMENA] [nvarchar](20) NULL,
	[TOTAL2] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_prpromet_klub_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_prpromet_klub_orig](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](25) NULL,
	[KOLICINA] [smallint] NULL,
	[IZNOS] [float] NULL,
	[NAPOMENA] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_Struja_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Struja_orig](
	[MJESEC] [nvarchar](2) NULL,
	[GODINA] [nvarchar](4) NULL,
	[STANJE] [float] NULL,
	[POTLUC] [float] NULL,
	[POTCN] [float] NULL,
	[RACUNCN] [float] NULL,
	[RACUNZAJA] [float] NULL,
	[RACUNBROD] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_TekstRN_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_TekstRN_orig](
	[ZAGLAVLJE] [nvarchar](60) NULL,
	[TEKST] [nvarchar](max) NULL,
	[ZAVRSETAK] [nvarchar](80) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_uplata_klub_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_uplata_klub_orig](
	[KLUB] [nvarchar](1) NULL,
	[UPLATA] [nvarchar](7) NULL,
	[DATUM] [nvarchar](8) NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[UKUPNO] [float] NULL,
	[GOTOVINA] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_UPLATA04_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_UPLATA04_orig](
	[UPLATA] [nvarchar](7) NULL,
	[DATUM] [nvarchar](8) NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[UKUPNO] [float] NULL,
	[PLACENO] [nvarchar](1) NULL,
	[GOTOVINA] [nvarchar](1) NULL,
	[KORISNIK] [nvarchar](1) NULL,
	[FAKTURA] [nvarchar](1) NULL,
	[BRFAKT] [nvarchar](7) NULL,
	[VRIJEME] [nvarchar](5) NULL,
	[OPERATER] [nvarchar](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_VEZMAX_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_VEZMAX_orig](
	[VEZ_TIP] [nvarchar](1) NULL,
	[MAXDUZ] [float] NULL,
	[MAXSIR] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_Vezovi_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Vezovi_orig](
	[GAT] [nvarchar](2) NULL,
	[VEZ] [nvarchar](4) NULL,
	[TIP_VEZA] [nvarchar](1) NULL,
	[STRANA] [nvarchar](1) NULL,
	[DRUSTVO] [nvarchar](1) NULL,
	[BROD_BR] [nvarchar](7) NULL,
	[NAPOMENA] [nvarchar](20) NULL,
	[M1] [nvarchar](1) NULL,
	[M2] [nvarchar](1) NULL,
	[M3] [nvarchar](1) NULL,
	[M4] [nvarchar](1) NULL,
	[M5] [nvarchar](1) NULL,
	[M6] [nvarchar](1) NULL,
	[M7] [nvarchar](1) NULL,
	[M8] [nvarchar](1) NULL,
	[M9] [nvarchar](1) NULL,
	[M10] [nvarchar](1) NULL,
	[M11] [nvarchar](1) NULL,
	[M12] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_Voda_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Voda_orig](
	[MJESEC] [nvarchar](2) NULL,
	[GODINA] [nvarchar](4) NULL,
	[STANJE] [float] NULL,
	[POTLUC] [float] NULL,
	[POTZAJA] [float] NULL,
	[RACUNZAJA] [float] NULL,
	[RACUNLUC] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_zadcij_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_zadcij_orig](
	[VRSTA_C] [nvarchar](4) NULL,
	[NAZIV] [nvarchar](40) NULL,
	[PDV] [nvarchar](1) NULL,
	[DUGUJE] [nvarchar](1) NULL,
	[GODISNJE] [nvarchar](1) NULL,
	[AKTIVNA] [nvarchar](1) NULL,
	[VRSTA] [nvarchar](2) NULL,
	[FORMULA] [nvarchar](80) NULL,
	[IZNOS] [float] NULL,
	[UVJET1] [nvarchar](40) NULL,
	[UVJET2] [nvarchar](40) NULL,
	[UVJET3] [nvarchar](40) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_ZADUZ_orig]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_ZADUZ_orig](
	[VRSTA_C] [nvarchar](1) NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[SIFRA_C] [nvarchar](4) NULL,
	[OBRPER] [nvarchar](2) NULL,
	[GODINA] [nvarchar](4) NULL,
	[DATUMUN] [nvarchar](8) NULL,
	[IZNOS_DU] [float] NULL,
	[IZNOS_PL] [float] NULL,
	[AUTOM] [nvarchar](1) NULL,
	[GODINE] [nvarchar](4) NULL,
	[PDV] [nvarchar](1) NULL,
	[UPLATA] [nvarchar](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANKA14]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANKA14](
	[KLUB] [nvarchar](1) NULL,
	[DATUM] [nvarchar](8) NULL,
	[STAVKA] [nvarchar](10) NULL,
	[KONTO] [nvarchar](8) NULL,
	[OPIS] [nvarchar](255) NULL,
	[PRIMITAK] [float] NULL,
	[IZDATAK] [float] NULL,
	[NAPOMENA] [nvarchar](255) NULL,
	[BROJ] [nvarchar](6) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IsPrimitak] [bit] NULL,
 CONSTRAINT [PK_BANKA14] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cijene_klub]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cijene_klub](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](100) NULL,
	[GRUPA] [nvarchar](2) NULL,
	[IZNOS] [float] NULL,
	[KLUB] [nvarchar](1) NULL,
	[Aktivna] [bit] NULL,
	[Id] [int] NULL,
	[KPD] [varchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cijene00]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cijene00](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](100) NULL,
	[GRUPA] [nvarchar](2) NULL,
	[PO_KATEG] [nvarchar](1) NULL,
	[Aktivna] [bit] NULL,
	[Id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cijene01]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cijene01](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](100) NULL,
	[DUZINA] [nvarchar](60) NULL,
	[KATEGORIJA] [nvarchar](6) NULL,
	[VRSTA] [nvarchar](25) NULL,
	[IZNOS] [float] NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Aktivna] [bit] NULL,
	[DuzinaOd] [float] NULL,
	[DuzinaDo] [float] NULL,
	[KPD] [varchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLAN03]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLAN03](
	[VRSTA_C] [nvarchar](1) NULL,
	[PREZIME] [nvarchar](100) NULL,
	[IME] [nvarchar](50) NULL,
	[ADRESA] [nvarchar](100) NULL,
	[TELEFON] [nvarchar](15) NULL,
	[RO] [nvarchar](15) NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[UGOVOR] [nvarchar](10) NULL,
	[VEZ_TIP] [nvarchar](1) NULL,
	[GAT] [nvarchar](2) NULL,
	[VEZ_BROJ] [nvarchar](4) NULL,
	[DUZINA_BR] [float] NULL,
	[SIRINA_BR] [float] NULL,
	[MATERIJAL] [nvarchar](10) NULL,
	[TIP_BROD] [nvarchar](10) NULL,
	[CLAN] [nvarchar](1) NULL,
	[TEL_RO] [nvarchar](10) NULL,
	[POSAO] [nvarchar](15) NULL,
	[NAPOMENA] [nvarchar](80) NULL,
	[DRZAVA] [nvarchar](3) NULL,
	[PLAC_DO] [nvarchar](8) NULL,
	[KLUB] [nvarchar](1) NULL,
	[JMBG] [nvarchar](13) NULL,
	[KOPNO] [nvarchar](1) NULL,
	[VEZ_2] [nvarchar](4) NULL,
	[GAT_2] [nvarchar](2) NULL,
	[TRAKTOR] [nvarchar](10) NULL,
	[SAONICE] [nvarchar](10) NULL,
	[STRUJA] [nvarchar](10) NULL,
	[VODA] [nvarchar](10) NULL,
	[DUG] [float] NULL,
	[MOBITEL] [nvarchar](10) NULL,
	[TELEFON2] [nvarchar](10) NULL,
	[BAJBOT] [nvarchar](10) NULL,
	[SPOL] [nvarchar](1) NULL,
	[GODINA] [nvarchar](4) NULL,
	[BONIFIKAC] [float] NULL,
	[OD_KADA] [smallint] NULL,
	[KOPNOPIS] [nvarchar](10) NULL,
	[RAMPA] [nvarchar](10) NULL,
	[OPISVEZA_old] [nvarchar](10) NULL,
	[OIB] [nvarchar](11) NULL,
	[ANEKS] [nvarchar](8) NULL,
	[Status] [nvarchar](1) NULL,
	[MjRod] [nvarchar](15) NULL,
	[ImeOca] [nvarchar](15) NULL,
	[Klub2] [nvarchar](3) NULL,
	[Memo] [nvarchar](max) NULL,
	[Klub_orig] [nvarchar](1) NULL,
	[BROD_BR] [nvarchar](100) NULL,
	[IME_BR] [nvarchar](100) NULL,
	[OPISVEZA] [nvarchar](100) NULL,
	[Struja_real] [nvarchar](10) NULL,
	[Voda_real] [nvarchar](10) NULL,
	[Emial] [nvarchar](80) NULL,
	[Email] [nvarchar](80) NULL,
	[firma] [bit] NULL,
	[AdresaB2B] [varchar](100) NULL,
	[Grad] [varchar](50) NULL,
	[Ptt] [varchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLAN03_bak]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLAN03_bak](
	[VRSTA_C] [nvarchar](1) NULL,
	[PREZIME] [nvarchar](100) NULL,
	[IME] [nvarchar](50) NULL,
	[ADRESA] [nvarchar](100) NULL,
	[TELEFON] [nvarchar](15) NULL,
	[RO] [nvarchar](15) NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[UGOVOR] [nvarchar](10) NULL,
	[VEZ_TIP] [nvarchar](1) NULL,
	[GAT] [nvarchar](2) NULL,
	[VEZ_BROJ] [nvarchar](4) NULL,
	[DUZINA_BR] [float] NULL,
	[SIRINA_BR] [float] NULL,
	[MATERIJAL] [nvarchar](10) NULL,
	[TIP_BROD] [nvarchar](10) NULL,
	[CLAN] [nvarchar](1) NULL,
	[TEL_RO] [nvarchar](10) NULL,
	[POSAO] [nvarchar](15) NULL,
	[NAPOMENA] [nvarchar](80) NULL,
	[DRZAVA] [nvarchar](3) NULL,
	[PLAC_DO] [nvarchar](8) NULL,
	[KLUB] [nvarchar](1) NULL,
	[JMBG] [nvarchar](13) NULL,
	[KOPNO] [nvarchar](1) NULL,
	[VEZ_2] [nvarchar](4) NULL,
	[GAT_2] [nvarchar](2) NULL,
	[TRAKTOR] [nvarchar](10) NULL,
	[SAONICE] [nvarchar](10) NULL,
	[STRUJA] [nvarchar](10) NULL,
	[VODA] [nvarchar](10) NULL,
	[DUG] [float] NULL,
	[MOBITEL] [nvarchar](10) NULL,
	[TELEFON2] [nvarchar](10) NULL,
	[BAJBOT] [nvarchar](10) NULL,
	[SPOL] [nvarchar](1) NULL,
	[GODINA] [nvarchar](4) NULL,
	[BONIFIKAC] [float] NULL,
	[OD_KADA] [smallint] NULL,
	[KOPNOPIS] [nvarchar](10) NULL,
	[RAMPA] [nvarchar](10) NULL,
	[OPISVEZA_old] [nvarchar](10) NULL,
	[OIB] [nvarchar](11) NULL,
	[ANEKS] [nvarchar](8) NULL,
	[Status] [nvarchar](1) NULL,
	[MjRod] [nvarchar](15) NULL,
	[ImeOca] [nvarchar](15) NULL,
	[Klub2] [nvarchar](3) NULL,
	[Memo] [nvarchar](max) NULL,
	[Klub_orig] [nvarchar](1) NULL,
	[BROD_BR] [nvarchar](100) NULL,
	[IME_BR] [nvarchar](100) NULL,
	[OPISVEZA] [nvarchar](100) NULL,
	[Struja_real] [nvarchar](10) NULL,
	[Voda_real] [nvarchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClanMemo]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClanMemo](
	[MAT_BROJ] [nvarchar](5) NULL,
	[MEMO] [nvarchar](254) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Config]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config](
	[FONT] [nvarchar](20) NULL,
	[PODACI1] [nvarchar](70) NULL,
	[PODACI2] [nvarchar](70) NULL,
	[PODACI3] [nvarchar](70) NULL,
	[MENI1] [nvarchar](10) NULL,
	[MENI2] [nvarchar](10) NULL,
	[MENI3] [nvarchar](10) NULL,
	[MENI4] [nvarchar](10) NULL,
	[MENI5] [nvarchar](10) NULL,
	[MENI6] [nvarchar](10) NULL,
	[MENI7] [nvarchar](10) NULL,
	[ZAGL1] [nvarchar](30) NULL,
	[ZAGL2] [nvarchar](30) NULL,
	[ZAGL3] [nvarchar](30) NULL,
	[SLIKA] [nvarchar](100) NULL,
	[VERZIJA] [nvarchar](1) NULL,
	[PDV] [smallint] NULL,
	[DUGUPL] [nvarchar](1) NULL,
	[OBAV1] [nvarchar](80) NULL,
	[OBAV2] [nvarchar](80) NULL,
	[OBAV3] [nvarchar](80) NULL,
	[OBAV4] [nvarchar](80) NULL,
	[OBAV5] [nvarchar](80) NULL,
	[OBAV6] [nvarchar](80) NULL,
	[OBAV7] [nvarchar](80) NULL,
	[OBAV8] [nvarchar](80) NULL,
	[OBAV9] [nvarchar](80) NULL,
	[OBAV10] [nvarchar](80) NULL,
	[OBAV11] [nvarchar](80) NULL,
	[OBAV12] [nvarchar](80) NULL,
	[OBAV13] [nvarchar](80) NULL,
	[OBAV14] [nvarchar](80) NULL,
	[OBAV15] [nvarchar](80) NULL,
	[DESKTOP] [nvarchar](80) NULL,
	[IZLAZNICE] [bit] NOT NULL,
	[ZAKLJUC] [bit] NOT NULL,
	[DATZAKLJ] [nvarchar](8) NULL,
	[SIRINA] [smallint] NULL,
	[OPERATER] [nvarchar](2) NULL,
	[OznakaPoslovniProstor] [nvarchar](1) NULL,
	[OznakaNaplatniUredjaj] [nvarchar](1) NULL,
	[OIB] [nvarchar](20) NULL,
	[PutanjaCert] [nvarchar](255) NULL,
	[PassCert] [nvarchar](50) NULL,
	[OIBProgramer] [nvarchar](50) NULL,
	[RadnoVrijeme] [nvarchar](100) NULL,
	[Adresa] [nvarchar](100) NULL,
	[PBR] [nvarchar](10) NULL,
	[Mjesto] [nvarchar](50) NULL,
	[Demo] [bit] NULL,
	[SlikaKlub1] [nvarchar](255) NULL,
	[SlikaKlub2] [nvarchar](255) NULL,
	[SlikaKlub3] [nvarchar](255) NULL,
	[OIBKlub1] [nvarchar](20) NULL,
	[OIBKlub2] [nvarchar](20) NULL,
	[OIBKlub3] [nvarchar](20) NULL,
	[KlubId] [char](2) NOT NULL,
	[OperaterOIB] [varchar](11) NULL,
	[OperaterImePrezime] [varchar](50) NULL,
	[IBAN] [varchar](50) NULL,
	[OznakaPoslovniOstalo] [varchar](1) NULL,
	[OznakaNaplatniOstalo] [varchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Config_fakt]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config_fakt](
	[FONT] [nvarchar](20) NULL,
	[ZAGL1] [nvarchar](30) NULL,
	[ZAGL2] [nvarchar](30) NULL,
	[ZAGL3] [nvarchar](70) NULL,
	[ZAGL4] [nvarchar](70) NULL,
	[ZAGL5] [nvarchar](70) NULL,
	[NAPOMENA1] [nvarchar](110) NULL,
	[SLIKA] [nvarchar](100) NULL,
	[NAPOMENA2] [nvarchar](160) NULL,
	[VERZIJA] [nvarchar](1) NULL,
	[ZAKLJUC] [bit] NOT NULL,
	[DATZAKLJ] [nvarchar](8) NULL,
	[OPERATER] [nvarchar](2) NULL,
	[KlubId] [char](2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Config_faktOIB]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config_faktOIB](
	[Operater] [nvarchar](2) NULL,
	[OIB] [nvarchar](20) NULL,
	[KlubId] [char](2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Config_klub]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config_klub](
	[FONT] [nvarchar](20) NULL,
	[ZAGL1] [nvarchar](40) NULL,
	[ZAGL2] [nvarchar](40) NULL,
	[ZAGL3] [nvarchar](40) NULL,
	[ZAGL4] [nvarchar](40) NULL,
	[ZAGL5] [nvarchar](40) NULL,
	[ZAGL6] [nvarchar](40) NULL,
	[KlubId] [char](2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Config_Mail]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config_Mail](
	[Server] [nvarchar](100) NULL,
	[Port] [nvarchar](10) NULL,
	[SenderMail] [nvarchar](100) NULL,
	[SenderPassword] [nvarchar](20) NULL,
	[CCMail] [nvarchar](100) NULL,
	[Subject] [nvarchar](100) NULL,
	[TextMaila] [nvarchar](1000) NULL,
	[KlubId] [char](2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Config_rampa]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config_rampa](
	[FONT] [nvarchar](20) NULL,
	[PODACI1] [nvarchar](30) NULL,
	[PODACI2] [nvarchar](30) NULL,
	[PODACI3] [nvarchar](30) NULL,
	[KlubId] [char](2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[db_info]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[db_info](
	[verzija] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dizalice]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dizalice](
	[ID] [int] NOT NULL,
	[IME] [varchar](100) NULL,
 CONSTRAINT [pk_Dizalice] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONOS13]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONOS13](
	[KLUB] [nvarchar](1) NULL,
	[DATUM] [nvarchar](8) NULL,
	[DONOS] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DRZAVA07]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRZAVA07](
	[DRZAVA] [nvarchar](3) NULL,
	[OPIS] [nvarchar](25) NULL,
	[VALUTA] [nvarchar](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DUG11]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUG11](
	[PLAC_DO] [nvarchar](8) NULL,
	[DANA] [float] NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[PREZIME] [nvarchar](15) NULL,
	[IME] [nvarchar](15) NULL,
	[IZNOS] [float] NULL,
	[VEZ_TIP] [nvarchar](1) NULL,
	[DUZINA_BR] [float] NULL,
	[MOBITEL] [nvarchar](10) NULL,
	[TELEFON2] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaDaPre]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaDaPre](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[REDBR] [nvarchar](5) NULL,
	[BRRAC] [nvarchar](12) NULL,
	[DATUM] [nvarchar](8) NULL,
	[SIFDOB] [nvarchar](5) NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[SVOTABP] [float] NULL,
	[SVOTASP] [float] NULL,
	[PRETPOR] [float] NULL,
	[PORODB] [float] NULL,
	[PORNODB] [float] NULL,
	[NAPOMENA] [nvarchar](20) NULL,
	[PLACENO] [nvarchar](1) NULL,
 CONSTRAINT [PK_FaDaPre] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaiAna05]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaiAna05](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](100) NULL,
	[KOLICINA] [smallint] NULL,
	[IZNOS] [float] NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL,
	[NAPOMENA] [nvarchar](100) NULL,
	[TOTAL] [float] NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[DATUM] [nvarchar](8) NULL,
	[PLACENO] [nvarchar](1) NULL,
	[BRRAC] [nvarchar](7) NULL,
	[IDRacun] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Klub] [nvarchar](1) NOT NULL,
	[UslugaId] [int] NULL,
	[KPD] [varchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaiAnaPP]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaiAnaPP](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](100) NULL,
	[KOLICINA] [smallint] NULL,
	[IZNOS] [float] NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL,
	[NAPOMENA] [nvarchar](100) NULL,
	[TOTAL] [float] NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[DATUM] [nvarchar](8) NULL,
	[PLACENO] [nvarchar](1) NULL,
	[BRRAC] [nvarchar](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaiAnaVP]    Script Date: 27.7.2026. 13:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaiAnaVP](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](100) NULL,
	[KOLICINA] [smallint] NULL,
	[IZNOS] [float] NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL,
	[NAPOMENA] [nvarchar](100) NULL,
	[TOTAL] [float] NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[DATUM] [nvarchar](8) NULL,
	[PLACENO] [nvarchar](1) NULL,
	[BRRAC] [nvarchar](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaiPri06]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaiPri06](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](25) NULL,
	[KOLICINA] [smallint] NULL,
	[IZNOS] [float] NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL,
	[NAPOMENA] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaiSin04]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaiSin04](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BRRAC] [nvarchar](7) NULL,
	[DATUM] [nvarchar](8) NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[UKUPNO] [float] NULL,
	[PLACENO] [nvarchar](1) NULL,
	[GOTOVINA] [nvarchar](1) NULL,
	[POREZ] [float] NULL,
	[NAZIV] [nvarchar](255) NULL,
	[MBR] [nvarchar](5) NULL,
	[IZNOSPLA] [float] NULL,
	[DATISPO] [nvarchar](8) NULL,
	[DATDOSP] [nvarchar](8) NULL,
	[OPERATER] [nvarchar](2) NULL,
	[VRIJEME] [nvarchar](5) NULL,
	[ZKI] [nvarchar](100) NULL,
	[JIR] [nvarchar](100) NULL,
	[Napomena] [nvarchar](max) NULL,
	[Generiran] [bit] NULL,
	[Oznacen] [bit] NULL,
	[OsloPDV] [bit] NULL,
	[Klub] [nvarchar](1) NOT NULL,
	[PoslProst] [varchar](1) NULL,
	[TipRacuna] [int] NULL,
	[NaplUredj] [varchar](1) NULL,
	[F2Status] [varchar](30) NULL,
	[F2StatusJson] [varchar](max) NULL,
	[PdvKategorija] [varchar](2) NULL,
	[StornoRacun] [bit] NULL,
	[IzvorniRacunBroj] [varchar](15) NULL,
	[DatumIzvornogRacuna] [date] NULL,
 CONSTRAINT [PK_FaiSin04] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaiSinPP]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaiSinPP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BRRAC] [nvarchar](7) NULL,
	[DATUM] [nvarchar](8) NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[UKUPNO] [float] NULL,
	[PLACENO] [nvarchar](1) NULL,
	[GOTOVINA] [nvarchar](1) NULL,
	[POREZ] [float] NULL,
	[NAZIV] [nvarchar](255) NULL,
	[MBR] [nvarchar](5) NULL,
	[IZNOSPLA] [float] NULL,
	[VRIJEME] [nvarchar](5) NULL,
	[OPERATER] [nvarchar](2) NULL,
 CONSTRAINT [PK_FaiSinPP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaiSinVP]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaiSinVP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BRRAC] [nvarchar](7) NULL,
	[DATUM] [nvarchar](8) NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[UKUPNO] [float] NULL,
	[PLACENO] [nvarchar](1) NULL,
	[GOTOVINA] [nvarchar](1) NULL,
	[POREZ] [float] NULL,
	[NAZIV] [nvarchar](255) NULL,
	[MBR] [nvarchar](5) NULL,
	[IZNOSPLA] [float] NULL,
	[VRIJEME] [nvarchar](5) NULL,
	[OPERATER] [nvarchar](2) NULL,
 CONSTRAINT [PK_FaiSinVP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaPrAna5]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaPrAna5](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](100) NULL,
	[KOLICINA] [smallint] NULL,
	[IZNOS] [float] NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL,
	[NAPOMENA] [nvarchar](100) NULL,
	[TOTAL] [float] NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[DATUM] [nvarchar](8) NULL,
	[PLACENO] [nvarchar](1) NULL,
	[BRRAC] [nvarchar](7) NULL,
	[UslugaId] [int] NULL,
	[Klub] [nvarchar](1) NOT NULL,
	[IDPredracun] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaPrSin4]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaPrSin4](
	[BRRAC] [nvarchar](7) NULL,
	[DATUM] [nvarchar](8) NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[UKUPNO] [float] NULL,
	[PLACENO] [nvarchar](1) NULL,
	[GOTOVINA] [nvarchar](1) NULL,
	[POREZ] [float] NULL,
	[NAZIV] [nvarchar](255) NULL,
	[MBR] [nvarchar](5) NULL,
	[IZNOSPLA] [float] NULL,
	[VRIJEME] [nvarchar](5) NULL,
	[OPERATER] [nvarchar](2) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Napomena] [nvarchar](max) NULL,
	[Oznacen] [bit] NULL,
	[Generiran] [bit] NULL,
	[Klub] [nvarchar](1) NOT NULL,
	[PoslProst] [varchar](1) NULL,
	[NaplUredj] [varchar](1) NULL,
	[TipRacuna] [int] NULL,
	[F2Status] [varchar](30) NULL,
	[F2StatusJson] [varchar](max) NULL,
 CONSTRAINT [PK_FaPrSin4] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaUlazni]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaUlazni](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[REDBR] [nvarchar](5) NULL,
	[BRRAC] [nvarchar](12) NULL,
	[DATUM] [nvarchar](8) NULL,
	[SIFDOB] [nvarchar](5) NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[SVOTABP] [float] NULL,
	[SVOTASP] [float] NULL,
	[PRETPOR] [float] NULL,
	[PORODB] [float] NULL,
	[PORNODB] [float] NULL,
	[NAPOMENA] [nvarchar](20) NULL,
	[PLACENO] [nvarchar](1) NULL,
 CONSTRAINT [PK_FaUlazni] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaVlPot]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaVlPot](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[REDBR] [nvarchar](5) NULL,
	[BRRAC] [nvarchar](12) NULL,
	[DATUM] [nvarchar](8) NULL,
	[SIFDOB] [nvarchar](5) NULL,
	[MAT_BROJ] [nvarchar](13) NULL,
	[SVOTABP] [float] NULL,
	[SVOTASP] [float] NULL,
	[PRETPOR] [float] NULL,
	[PORODB] [float] NULL,
	[PORNODB] [float] NULL,
	[NAPOMENA] [nvarchar](20) NULL,
	[PLACENO] [nvarchar](1) NULL,
 CONSTRAINT [PK_FaVlPot] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupe17]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupe17](
	[GRUPA] [nvarchar](2) NULL,
	[OPIS] [nvarchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invent]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invent](
	[MAT_BROJ] [nvarchar](7) NULL,
	[sumA] [float] NULL,
	[sumb] [float] NULL,
	[ime] [nvarchar](15) NULL,
	[prezime] [nvarchar](15) NULL,
	[adresa] [nvarchar](30) NULL,
	[vrsta_c] [nvarchar](1) NULL,
	[godina] [nvarchar](4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[izlaznice]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[izlaznice](
	[DATUMIZL] [nvarchar](8) NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[NAPOMENA] [nvarchar](40) NULL,
	[OTVORENA] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KAMATE10]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KAMATE10](
	[GLAVNICA] [float] NULL,
	[DANA] [float] NULL,
	[STOPA] [float] NULL,
	[KAMATA] [float] NULL,
	[TOTAL] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kartica]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kartica](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MBRClan] [nvarchar](10) NOT NULL,
	[Datum] [datetime] NULL,
	[BrojKartica] [nvarchar](10) NOT NULL,
	[DatumOd] [datetime] NOT NULL,
	[DatumDo] [datetime] NULL,
	[RegOznaka] [nvarchar](50) NULL,
	[OpisAuto] [nvarchar](200) NULL,
	[Napomena] [nvarchar](500) NULL,
	[TrajeDo] [datetime] NULL,
	[Cijena] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Kartica] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kartice]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kartice](
	[BRKART] [nvarchar](5) NULL,
	[DATUM] [nvarchar](8) NULL,
	[JMBG] [nvarchar](13) NULL,
	[PREZIME] [nvarchar](15) NULL,
	[IME] [nvarchar](15) NULL,
	[DATUZETA] [nvarchar](8) NULL,
	[DATVRAC] [nvarchar](8) NULL,
	[TRAJEDO] [nvarchar](8) NULL,
	[VRIJEMETR] [nvarchar](10) NULL,
	[CIJENA] [float] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDOsoba] [int] NULL,
 CONSTRAINT [PK_kartice] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Karton04]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Karton04](
	[GODINA] [nvarchar](4) NULL,
	[IZNOS1] [float] NULL,
	[DATUM1] [nvarchar](8) NULL,
	[IZNOS2] [float] NULL,
	[DATUM2] [nvarchar](8) NULL,
	[IZNOS3] [float] NULL,
	[DATUM3] [nvarchar](8) NULL,
	[IZNOS4] [float] NULL,
	[DATUM4] [nvarchar](8) NULL,
	[CLAN_IZ] [float] NULL,
	[CLAN_DAT] [nvarchar](8) NULL,
	[SATI_IZ] [float] NULL,
	[SATI_BR] [smallint] NULL,
	[SATI_DAT] [nvarchar](8) NULL,
	[NAPOMENA] [nvarchar](15) NULL,
	[MAT_BROJ] [nvarchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Komitent]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Komitent](
	[SIFRA] [nvarchar](5) NULL,
	[NAZIV] [nvarchar](30) NULL,
	[MATBROJ] [nvarchar](13) NULL,
	[NAPOMENA] [nvarchar](20) NULL,
	[ADRESA] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KONTO15]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KONTO15](
	[KONTO] [nvarchar](8) NULL,
	[OPIS] [nvarchar](25) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KOPNO12]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KOPNO12](
	[POZICIJA] [nvarchar](10) NULL,
	[ZAUZETO] [nvarchar](1) NULL,
	[DUZINA] [float] NULL,
	[NAPOMENA] [nvarchar](100) NULL,
	[DATUM] [nvarchar](8) NULL,
	[NALOG] [nvarchar](7) NULL,
	[NAPOMENA2] [nvarchar](100) NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_KOPNO12] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KOPNOANA]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KOPNOANA](
	[POZICIJA] [nvarchar](10) NULL,
	[BROD_BR] [nvarchar](7) NULL,
	[DATUM_OD] [nvarchar](8) NULL,
	[DATUM_DO] [nvarchar](8) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NALOGA09]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NALOGA09](
	[BROJ] [nvarchar](7) NULL,
	[DATUM] [nvarchar](8) NULL,
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](255) NULL,
	[KOLICINA] [smallint] NULL,
	[NAPOMENA] [nvarchar](255) NULL,
	[CIJENA] [float] NULL,
	[TOTAL] [float] NULL,
	[IZNOS] [float] NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nalogs08]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nalogs08](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BROJ] [nvarchar](7) NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[DATUM] [nvarchar](8) NULL,
	[ZATVOREN] [nvarchar](1) NULL,
	[Dizalica_ID] [int] NULL,
 CONSTRAINT [PK_Nalogs08] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[obavijes]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[obavijes](
	[VRSTA_C] [nvarchar](1) NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[SIFRA_C] [nvarchar](4) NULL,
	[OBRPER] [nvarchar](2) NULL,
	[GODINA] [nvarchar](4) NULL,
	[DATUMUN] [nvarchar](8) NULL,
	[IZNOS_DU] [float] NULL,
	[IZNOS_PL] [float] NULL,
	[AUTOM] [nvarchar](1) NULL,
	[GODINE] [nvarchar](4) NULL,
	[PDV] [nvarchar](1) NULL,
	[UPLATA] [nvarchar](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBRPER]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBRPER](
	[OBRPER] [nvarchar](2) NULL,
	[GODINA] [nvarchar](4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Opomena]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opomena](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Datum] [datetime] NOT NULL,
	[MBR] [nvarchar](5) NOT NULL,
	[Iznos] [decimal](18, 2) NOT NULL,
	[Generiran] [bit] NULL,
	[Oznacen] [bit] NULL,
	[Broj] [nvarchar](7) NULL,
 CONSTRAINT [PK_Opomena] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Osnovni]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Osnovni](
	[SIFRA] [nvarchar](4) NULL,
	[POPUST] [float] NULL,
	[POREZ] [float] NULL,
	[PERIOD] [smallint] NULL,
	[GODINA] [nvarchar](4) NULL,
	[DOSPIJECE] [smallint] NULL,
	[OPERATER] [nvarchar](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[osobe]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[osobe](
	[PREZIME] [nvarchar](15) NULL,
	[IME] [nvarchar](15) NULL,
	[ADRESA] [nvarchar](30) NULL,
	[JMBG] [nvarchar](13) NULL,
	[TELEFON] [nvarchar](15) NULL,
	[MOBITEL] [nvarchar](15) NULL,
	[REGAUTO] [nvarchar](10) NULL,
	[OPAUTO] [nvarchar](25) NULL,
	[BRKART] [nvarchar](5) NULL,
	[DATDO] [nvarchar](8) NULL,
	[DATOD] [nvarchar](8) NULL,
	[TIP] [nvarchar](1) NULL,
	[NAPOMENA] [nvarchar](50) NULL,
	[REGAUTO2] [nvarchar](10) NULL,
	[OPAUTO2] [nvarchar](25) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_osobe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POPUST02]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POPUST02](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](40) NULL,
	[VRSTA] [nvarchar](12) NULL,
	[DATUM_OD] [nvarchar](8) NULL,
	[DATUM_DO] [nvarchar](8) NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL,
	[NAPOMENA] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRBANKA]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRBANKA](
	[DATUM] [nvarchar](8) NULL,
	[KONTO] [nvarchar](8) NULL,
	[OPIS] [nvarchar](255) NULL,
	[PRIMITAK] [float] NULL,
	[NAPOMENA] [nvarchar](255) NULL,
	[OZNAKA] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRKONT16]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRKONT16](
	[KONTO] [nvarchar](8) NULL,
	[PRIMITAK] [float] NULL,
	[IZDATAK] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROMET05]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROMET05](
	[KLUB] [nvarchar](1) NULL,
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](100) NULL,
	[DATUM] [nvarchar](8) NULL,
	[KOLICINA] [smallint] NULL,
	[IZNOS] [float] NULL,
	[UPLATA] [nvarchar](7) NULL,
	[NAPOMENA] [nvarchar](100) NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL,
	[TOTAL] [float] NULL,
	[PLACENO] [nvarchar](1) NULL,
	[Aktivna] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRPROM06]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRPROM06](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](255) NULL,
	[KOLICINA] [smallint] NULL,
	[IZNOS] [float] NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL,
	[NAPOMENA] [nvarchar](255) NULL,
	[TOTAL2] [float] NULL,
	[Rbr] [int] NULL,
	[Cijena] [float] NULL,
	[UslugaId] [int] NULL,
	[KPD] [varchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prpromet]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prpromet](
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](25) NULL,
	[KOLICINA] [smallint] NULL,
	[IZNOS] [float] NULL,
	[NAPOMENA] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Struja]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Struja](
	[MJESEC] [nvarchar](2) NULL,
	[GODINA] [nvarchar](4) NULL,
	[STANJE] [float] NULL,
	[POTLUC] [float] NULL,
	[POTCN] [float] NULL,
	[RACUNCN] [float] NULL,
	[RACUNZAJA] [float] NULL,
	[RACUNBROD] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TekstRN]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TekstRN](
	[ZAGLAVLJE] [nvarchar](60) NULL,
	[TEKST] [nvarchar](max) NULL,
	[ZAVRSETAK] [nvarchar](80) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UPLATA04]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UPLATA04](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KLUB] [nvarchar](1) NOT NULL,
	[UPLATA] [nvarchar](7) NOT NULL,
	[DATUM] [nvarchar](8) NOT NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[UKUPNO] [float] NULL,
	[GOTOVINA] [nvarchar](1) NULL,
	[PLACENO] [nvarchar](1) NULL,
	[KORISNIK] [nvarchar](1) NULL,
	[FAKTURA] [nvarchar](1) NULL,
	[BRFAKT] [nvarchar](7) NULL,
	[VRIJEME] [nvarchar](5) NULL,
	[OPERATER] [nvarchar](2) NULL,
 CONSTRAINT [PK_UPLATA04] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEZMAX]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEZMAX](
	[VEZ_TIP] [nvarchar](1) NULL,
	[MAXDUZ] [float] NULL,
	[MAXSIR] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vezovi]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vezovi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GAT] [nvarchar](2) NULL,
	[VEZ] [nvarchar](4) NULL,
	[TIP_VEZA] [nvarchar](1) NULL,
	[STRANA] [nvarchar](1) NULL,
	[DRUSTVO] [nvarchar](1) NULL,
	[BROD_BR] [nvarchar](7) NULL,
	[NAPOMENA] [nvarchar](20) NULL,
	[M1] [nvarchar](1) NULL,
	[M2] [nvarchar](1) NULL,
	[M3] [nvarchar](1) NULL,
	[M4] [nvarchar](1) NULL,
	[M5] [nvarchar](1) NULL,
	[M6] [nvarchar](1) NULL,
	[M7] [nvarchar](1) NULL,
	[M8] [nvarchar](1) NULL,
	[M9] [nvarchar](1) NULL,
	[M10] [nvarchar](1) NULL,
	[M11] [nvarchar](1) NULL,
	[M12] [nvarchar](1) NULL,
 CONSTRAINT [PK_Vezovi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voda]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voda](
	[MJESEC] [nvarchar](2) NULL,
	[GODINA] [nvarchar](4) NULL,
	[STANJE] [float] NULL,
	[POTLUC] [float] NULL,
	[POTZAJA] [float] NULL,
	[RACUNZAJA] [float] NULL,
	[RACUNLUC] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zadcij]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zadcij](
	[VRSTA_C] [nvarchar](4) NULL,
	[NAZIV] [nvarchar](40) NULL,
	[PDV] [nvarchar](1) NULL,
	[DUGUJE] [nvarchar](1) NULL,
	[GODISNJE] [nvarchar](1) NULL,
	[AKTIVNA] [nvarchar](1) NULL,
	[VRSTA] [nvarchar](2) NULL,
	[FORMULA] [nvarchar](80) NULL,
	[IZNOS] [float] NULL,
	[UVJET1] [nvarchar](40) NULL,
	[UVJET2] [nvarchar](40) NULL,
	[UVJET3] [nvarchar](40) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZADUZ]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZADUZ](
	[VRSTA_C] [nvarchar](1) NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[SIFRA_C] [nvarchar](4) NULL,
	[OBRPER] [nvarchar](2) NULL,
	[GODINA] [nvarchar](4) NULL,
	[DATUMUN] [nvarchar](8) NULL,
	[IZNOS_DU] [float] NULL,
	[IZNOS_PL] [float] NULL,
	[AUTOM] [nvarchar](1) NULL,
	[GODINE] [nvarchar](4) NULL,
	[PDV] [nvarchar](1) NULL,
	[UPLATA] [nvarchar](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zaduzenje05]    Script Date: 27.7.2026. 13:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zaduzenje05](
	[KLUB] [nvarchar](1) NULL,
	[SIFRA] [nvarchar](4) NULL,
	[OPIS] [nvarchar](100) NULL,
	[DATUM] [nvarchar](8) NULL,
	[KOLICINA] [smallint] NULL,
	[IZNOS] [float] NULL,
	[RadniNalogBR] [nvarchar](7) NULL,
	[NAPOMENA] [nvarchar](100) NULL,
	[MAT_BROJ] [nvarchar](5) NULL,
	[POPUST] [smallint] NULL,
	[DODATNI] [smallint] NULL,
	[TOTAL] [float] NULL,
	[PLACENO] [nvarchar](1) NULL,
	[Aktivna] [bit] NULL,
	[UslugaId] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DATUM]    Script Date: 27.7.2026. 13:04:52 ******/
CREATE NONCLUSTERED INDEX [IX_DATUM] ON [dbo].[BANKA14]
(
	[KLUB] ASC,
	[DATUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CLAN03]    Script Date: 27.7.2026. 13:04:52 ******/
CREATE NONCLUSTERED INDEX [IX_CLAN03] ON [dbo].[CLAN03]
(
	[VRSTA_C] ASC,
	[MAT_BROJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CLAN03_1]    Script Date: 27.7.2026. 13:04:52 ******/
CREATE NONCLUSTERED INDEX [IX_CLAN03_1] ON [dbo].[CLAN03]
(
	[PREZIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DONOS13]    Script Date: 27.7.2026. 13:04:52 ******/
CREATE NONCLUSTERED INDEX [IX_DONOS13] ON [dbo].[DONOS13]
(
	[KLUB] ASC,
	[DATUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FaiAna05]    Script Date: 27.7.2026. 13:04:52 ******/
CREATE NONCLUSTERED INDEX [IX_FaiAna05] ON [dbo].[FaiAna05]
(
	[BRRAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FaiSin04]    Script Date: 27.7.2026. 13:04:52 ******/
CREATE NONCLUSTERED INDEX [IX_FaiSin04] ON [dbo].[FaiSin04]
(
	[DATUM] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FaiSin04_1]    Script Date: 27.7.2026. 13:04:52 ******/
CREATE NONCLUSTERED INDEX [IX_FaiSin04_1] ON [dbo].[FaiSin04]
(
	[BRRAC] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PROMET05]    Script Date: 27.7.2026. 13:04:52 ******/
CREATE NONCLUSTERED INDEX [IX_PROMET05] ON [dbo].[PROMET05]
(
	[KLUB] ASC,
	[DATUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UPLATA04]    Script Date: 27.7.2026. 13:04:52 ******/
CREATE NONCLUSTERED INDEX [IX_UPLATA04] ON [dbo].[UPLATA04]
(
	[KLUB] ASC,
	[DATUM] ASC,
	[UPLATA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Config] ADD  DEFAULT ('0') FOR [KlubId]
GO
ALTER TABLE [dbo].[Config_fakt] ADD  DEFAULT ('0') FOR [KlubId]
GO
ALTER TABLE [dbo].[Config_faktOIB] ADD  DEFAULT ('0') FOR [KlubId]
GO
ALTER TABLE [dbo].[Config_klub] ADD  DEFAULT ('0') FOR [KlubId]
GO
ALTER TABLE [dbo].[Config_Mail] ADD  DEFAULT ('0') FOR [KlubId]
GO
ALTER TABLE [dbo].[Config_rampa] ADD  DEFAULT ('0') FOR [KlubId]
GO
ALTER TABLE [dbo].[FaiAna05] ADD  DEFAULT ('0') FOR [Klub]
GO
ALTER TABLE [dbo].[FaiSin04] ADD  DEFAULT ((0)) FOR [OsloPDV]
GO
ALTER TABLE [dbo].[FaiSin04] ADD  DEFAULT ('0') FOR [Klub]
GO
ALTER TABLE [dbo].[FaPrAna5] ADD  DEFAULT ('0') FOR [Klub]
GO
ALTER TABLE [dbo].[FaPrSin4] ADD  DEFAULT ('0') FOR [Klub]
GO
USE [master]
GO
